/* .CompaniesList {
  color: white;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

h1 {
  text-align: center;
}