.Homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30vh;
  text-align: center;
  color: white;
}

.Homepage-title-logo {
  display: flex;
}

.Homepage-welcome {
  font-size: 1.2em;
}

.Homepage-logo {
  width: 100px;
  height: auto;
  margin: -25px -20px;
}

.Homepage-auth a {
  margin: 0 5px;
}