.Homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.Homepage-title-logo {
  display: flex;
}

.Homepage-logo {
  width: 100px;
  height: auto;
  margin: -25px -20px;
}

.Homepage-auth a {
  margin: 0 5px;
}